include form-input

mixin checkbox(options)
  - options       = options               || {}

  - options.inputClass = options.inputClass || ' '
  - ngChecked          = options.ngChecked  || null
  - options.type       = options.type       || 'checkbox'
  - options.ngRequired = 'false'

  .row
    div(class=className)
      .checkbox
        label
          +form-input(options)
          = label
