include form-input

mixin checkbox(options)
  - options       = options               || {}
  - id            = options.id            || (options.name+$$id || $$id)
  - options.inputClass = options.inputClass || ' '
  - ngChecked          = options.ngChecked  || null
  - options.type       = options.type       || 'checkbox'
  - options.ngRequired = 'false'

  .row
    div(class=className)
      .checkbox
        +form-input(options)
        label(for=id)= label
