include form-control
mixin h-form-control(options)
  - options = options         || {}

  - labelClass           = options.labelClass   || 'col-md-4'
  - options.class        = options.class        || 'col-md-8'
  - options.name         = options.name         || 'control'
  - options.label        = options.label        || 'Ετικέτα'
  - options.useLabel     = options.useLabel     || 'false'
  - options.placeholder  = options.placeholder  || ' '
  - $$id = $$id || 0
  - id                   = options.id           || (options.name+$$id || $$id)

  .row
    .col-md-12
      div(class=labelClass)
        label.input-label(for=id)= options.label

      +form-control(options)
