include form-input

mixin radio-group(options)
  - options       = options               || {}

  - className     = options.class         || 'col-md-6'
  - inputClass    = options.inputClass    || 'form-control'
  - radioClass    = options.radioClass    || 'radio-inline'
  - name          = options.name          || 'control'
  - label         = options.label         || 'Ετικέτα'
  - placeholder   = options.placeholder   || label
  - autocomplete  = options.autocomplete  || name
  - type          = options.type          || 'text'
  - radioValues   = options.radioValues   || null
  - popover       = options.popover       || null

  - options.inputClass = 'form-input'

  .row
    div(class=className)
      if (radioValues)
        each val, index in radioValues
          div(class=radioClass)
            label
              +form-input(options)
              = ' ' + val
      else
        label
          .input-group
            +form-input(options)
            = ' ' + label