/*
Syntax error: Colors must have either three or six digits: '#DEDED'
        on line 1 of main.scss

1: $input-color-placeholder: #DEDED;
2: @import "angular-csp";
3: @import "../../node_modules/bootstrap/assets/stylesheets/bootstrap";
4: @import "select2";
5: @import "select2-bootstrap";
6: @import "datepicker3";

Backtrace:
main.scss:1
/Users/harrissidiropoulos/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.3.4/lib/sass/script/lexer.rb:320:in `color'
/Users/harrissidiropoulos/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.3.4/lib/sass/script/lexer.rb:253:in `token'
/Users/harrissidiropoulos/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.3.4/lib/sass/script/lexer.rb:236:in `read_token'
/Users/harrissidiropoulos/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.3.4/lib/sass/script/lexer.rb:182:in `peek'
/Users/harrissidiropoulos/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.3.4/lib/sass/script/parser.rb:589:in `try_tok'
/Users/harrissidiropoulos/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.3.4/lib/sass/script/parser.rb:240:in `unary_plus'
/Users/harrissidiropoulos/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.3.4/lib/sass/script/parser.rb:221:in `times_div_or_mod'
/Users/harrissidiropoulos/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.3.4/lib/sass/script/parser.rb:221:in `plus_or_minus'
/Users/harrissidiropoulos/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.3.4/lib/sass/script/parser.rb:221:in `relational'
/Users/harrissidiropoulos/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.3.4/lib/sass/script/parser.rb:221:in `eq_or_neq'
/Users/harrissidiropoulos/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.3.4/lib/sass/script/parser.rb:221:in `and_expr'
/Users/harrissidiropoulos/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.3.4/lib/sass/script/parser.rb:221:in `or_expr'
/Users/harrissidiropoulos/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.3.4/lib/sass/script/parser.rb:354:in `space'
/Users/harrissidiropoulos/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.3.4/lib/sass/script/parser.rb:339:in `interpolation'
/Users/harrissidiropoulos/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.3.4/lib/sass/script/parser.rb:287:in `expr'
/Users/harrissidiropoulos/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.3.4/lib/sass/script/parser.rb:569:in `assert_expr'
/Users/harrissidiropoulos/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.3.4/lib/sass/script/parser.rb:56:in `parse'
/Users/harrissidiropoulos/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.3.4/lib/sass/scss/parser.rb:1170:in `sass_script'
/Users/harrissidiropoulos/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.3.4/lib/sass/scss/parser.rb:600:in `variable'
/Users/harrissidiropoulos/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.3.4/lib/sass/scss/parser.rb:654:in `block_child'
/Users/harrissidiropoulos/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.3.4/lib/sass/scss/parser.rb:644:in `block_contents'
/Users/harrissidiropoulos/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.3.4/lib/sass/scss/parser.rb:116:in `stylesheet'
/Users/harrissidiropoulos/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.3.4/lib/sass/scss/parser.rb:41:in `parse'
/Users/harrissidiropoulos/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.3.4/lib/sass/engine.rb:409:in `_to_tree'
/Users/harrissidiropoulos/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.3.4/lib/sass/engine.rb:274:in `render'
/Users/harrissidiropoulos/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.3.4/lib/sass/plugin/compiler.rb:414:in `update_stylesheet'
/Users/harrissidiropoulos/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.3.4/lib/sass/plugin/compiler.rb:189:in `block in update_stylesheets'
/Users/harrissidiropoulos/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.3.4/lib/sass/plugin/compiler.rb:186:in `each'
/Users/harrissidiropoulos/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.3.4/lib/sass/plugin/compiler.rb:186:in `update_stylesheets'
/Users/harrissidiropoulos/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.3.4/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/harrissidiropoulos/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.3.4/lib/sass/exec.rb:489:in `watch_or_update'
/Users/harrissidiropoulos/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.3.4/lib/sass/exec.rb:346:in `process_result'
/Users/harrissidiropoulos/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.3.4/lib/sass/exec.rb:43:in `parse'
/Users/harrissidiropoulos/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.3.4/lib/sass/exec.rb:22:in `parse!'
/Users/harrissidiropoulos/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.3.4/bin/scss:13:in `<top (required)>'
/Users/harrissidiropoulos/.rbenv/versions/2.0.0/bin/scss:23:in `load'
/Users/harrissidiropoulos/.rbenv/versions/2.0.0/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Colors must have either three or six digits: '#DEDED'\A         on line 1 of main.scss\A \A 1: $input-color-placeholder: #DEDED;\A 2: @import \"angular-csp\";\A 3: @import \"../../node_modules/bootstrap/assets/stylesheets/bootstrap\";\A 4: @import \"select2\";\A 5: @import \"select2-bootstrap\";\A 6: @import \"datepicker3\";"; }
