@import "angular-csp";
@import "../../node_modules/bootstrap/lib/bootstrap";
@import "select2-bootstrap";
@import "spinner";

.ng-animate-block-transitions {
  transition:0s all!important;
  -webkit-transition:0s all!important;
}

/* show the element during a show/hide animation when the
 * animation is ongoing, but the .ng-hide class is active */
.ng-hide-add-active, .ng-hide-remove {
  display: block!important;
}

.popover.top {
  margin-top: -25px;
}
.app-form-help-block {

  font-size : 12px;
  //color: $app-form-help-block-text-color;
  margin-bottom: 20px;

}
.has-feedback {
  .form-control-feedback {
    right: 20px;
    display: none;
    z-index: 20;
  }
  &.select {
    .form-control-feedback {
      right: 30px;
    }
    &:not(.select-multiple).select-clear .form-control-feedback {
      right: 50px;
    }
    &:not(.select-multiple).select-clear .loader {
      right: 55px;
    }
  }
  &.select-multiple {
    .form-control-feedback {
      right: 20px;
    }
  }
  &.has-success {
    .form-control-feedback {
      display: block;
    }
  }
  &:not(.ng-loading) .loader {
    display: none;
  }
  &.ng-loading .valid-icon {
    display: none;
  }
  .error-message {
    display: none;
    margin-top: 5px;
    color: $brand-danger;
  }

  &.ng-dirty.ng-invalid-required > .ng-required,
  &.ng-dirty.ng-invalid-pattern > .ng-pattern,
  &.ng-dirty.ng-invalid-email > .ng-email,
  &.ng-dirty.ng-invalid-number > .ng-number,
  &.ng-dirty.ng-invalid-maxlength > .ng-maxlength,
  &.ng-dirty.ng-invalid-minlength > .ng-minlength,
  &.ng-dirty.ng-invalid-url > .ng-url,
  &.ng-dirty.ng-invalid-is-unique > .is-unique,
  &.ng-dirty.ng-is-unique-loading > .is-unique-loading,
  &.ng-dirty.ng-is-unique-error-loading > .is-unique-error-loading,
  &.ng-loading > .loader,
  &.ng-dirty.ng-invalid-is-equal > .is-equal {
    display: block;
  }

  //&.ng-dirty.has-success > .loader,
  &.ng-dirty.ng-is-unique-pending > .is-unique,
  &.ng-dirty.ng-is-unique-loading > .is-unique {
    display: none;
  }
  .select2-container {
    height: auto;
    padding: 0px;
    .select2-search-field {
      height: 29px !important;
    }
    &.ng-valid .select2-choices {
      padding-right: 30px;
    }
    &.ng-invalid .select2-choices {
      padding-right: 5px;
    }
    .select2-chosen {
      margin-right: 60px;
    }
    .select2-choice {
      height: 31px;
    }
    .select2-default {
      color: #CDCDCD !important;
      text-shadow: none !important;
    }
    .select2-default .select2-chosen {
      color: #999;
      opacity: .45;
    }

    input {
      padding: 3px 12px;
    }
  }
}
input:focus.ng-valid {
  border-color: $brand-success;
}
input:focus.ng-invalid {
  border-color: $brand-warning;
}

.form-container h1,
h1.form-container-header {
  position: absolute;
  top: 10px;
  left: -10px;
  font-size: 18px;
  background: $gray-dark;
  color: white;
  padding: 10px 30px;
  margin: 0px;
  z-index: 2;
  font-weight: normal;
  &:before {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -5px;
    width: 10px;
    height: 10px;
    background: $brand-danger;
    display: block;
    transform: skewY(30deg);
    z-index: 1;
  }
  &:after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 10px;
    height: 10px;
    background: $gray-dark;
    display: block;
    z-index: 2;
  }
  ul {
    margin: 0px;
    padding: 0px;
  }
}

.form-container {
  background: #ffefe8;
  padding: 20px 20px;
  padding-top: 80px;
  margin-bottom: 40px;
  position: relative;

  .breadcrumb {
    background: $gray-dark;
    border-radius: 0px;
    a {
      color: $gray;
    }
    .active a {
      color: white;
    }

  }

  [role="tablist"] {
    li.disabled a {
      pointer-events: none;
      &:hover {
        text-decoration: none;
      }
    }
  }

  label {
    font-weight: normal;
  }

  h2 {
    font-size: 14px;
    padding-top: 0px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-top: 30px;
    font-weight: bold;
    border-bottom: 1px solid $gray-light;
  }
}


