@import "angular-csp";
@import "select2";
@import "ui-select";
@import "pen";
@import "github";
@import "pagedown-editor";
$fa-font-path: "../fonts/font-awesome";
$fa-var-check: "\e013";
//@import "../../node_modules/Font-Awesome/scss/font-awesome";
$checkbox-font-family: 'Glyphicons Halflings';
//http://awesome-bootstrap-checkbox.okendoken.com/demo/index.html
@import "awesome-bootstrap-checkbox";
@import "select2-bootstrap";
@import "datepicker3";
@import "spinner";
@import "poly-form-addons";
