.row
  .col-md-12
    +form-control({name:'hideCheckbox',label:'Hide below controls when checked',type:'checkbox'})
  .col-md-12(ng-hide="hideCheckbox", disable-validation-when-hidden)
    +form-control({name:'email',label:'Email',type:'email'})
    +form-control({name:'number',label:'number',type:'number'})
  .col-md-12
    +form-control({name:'minLength',label:'Min Length',ngMinlength:3})
    +form-control({name:'maxlength',label:'Max length',ngMaxlength:3})