.row
  .col-md-12
    +form-control({name:'hideCheckbox',label:'Disable below controls when checked',type:'checkbox', class:'col-md-12'})
  .col-md-12(ng-hide="hideCheckbox", disable-validation-when-hidden)
    +form-control({name:'password',label:'password',type:'password'})
    +form-control({name:'uiValidate',label:'ui-validate',type:'password', uiValidate:"'$value==password'", uiValidateWatch:"'password'"})
  .col-md-12
    //+form-control({name:'minLength',label:'Min Length',ngMinlength:3, useLabel: 'false'})
    +form-control({name:'maxlength',label:'Max length',ngMaxlength:3, useLabel: 'false'})
