.row
  .col-md-12
    +form-control({name:'hideCheckbox', model:'myform4.hideControls' ,label:'Disable below controls when checked',type:'checkbox', class:'col-md-12'})
  .col-md-12(ng-hide="myform4.hideControls", disable-validation-when-hidden)
    +form-control({name:'password',label:'password',type:'password',model:'$parent.$parent.myPassword'})
    +form-control({name:'uiValidateControl',label:'ui-validate',type:'password', uiValidate:"'$value==myPassword'", uiValidateWatch:"'myPassword'"})
  .col-md-12
    //+form-control({name:'minLength',label:'Min Length',ngMinlength:3, useLabel: 'false'})
    +form-control({name:'maxlength',label:'Max length',ngMaxlength:3, useLabel: 'false'})
