include ../mixins/poly-form/checkbox
.row
  .col-md-12
    +form-control({name:'checkbox',label:'checkbox',type:'checkbox', checked:'checked'})
  .col-md-12
    +form-control({name:'radio',label:'radio',type:'radio', collection: ['radio1', 'radio2', 'radio3']})
  .col-md-12
    +form-control({name:'radio2',label:'radio2',type:'radio', collection: ['radio1', 'radio2', 'radio3'], radioClass: 'radio'})
