include mixins/form-control
html(ng-app="PolyForm")
  head
    include partials/header
  body
    .container
      form(name="myform", ng-cloak="true")
        form-tabs
          form-tab(tab-title="Select2")
            +form-control({name:'email',label:'Email',type:'select2-input'})

    include partials/footer