include mixins/poly-form/form-control
html(ng-app="PolyForm")
  head
    include partials/header
  body
    .container
      form(name="myform", ng-cloak="true")
        form-tabs
          form-tab(tab-title="Validation")
            include partials/validation
        form-tabs
          form-tab(tab-title="Block Controls")
            include partials/block-controls
        form-tabs
          form-tab(tab-title="Inline Controls")
            include partials/inline-controls
      form(name="myform2", ng-cloak="true")
        form-tabs
          form-tab(tab-title="Form Tab 1")
            include partials/validation
          form-tab(tab-title="Form Tab 2")
            include partials/block-controls
          form-tab(tab-title="Form Tab 3")
            include partials/inline-controls

    include partials/footer