include mixins/poly-form/form-control
html(ng-app="PolyForm")
  head
    include partials/header
  body
    .container
      form(name="myform", ng-cloak="true")
        form-tabs
          form-tab(tab-title="Validation")
            .row
              .col-md-12
                +form-control({name:'email',label:'Email',type:'email'})
                +form-control({name:'number',label:'number',type:'number'})
              .col-md-12
                +form-control({name:'minLength',label:'Min Length',ngMinlength:3})
                +form-control({name:'maxlength',label:'Max length',ngMaxlength:3})
              .col-md-12
                +form-control({name:'required',label:'Required false',ngRequired:'false'})
                +form-control({name:'mypattern',label:'Pattern',type:'password',ngPattern:'/((?=.*[a-z])(?=.*[A-Z]).{8,64})/',ngPatternMessage:'Ensure that value is 8 to 64 characters long and contains a mix of upper and lower case characters'})
              .col-md-12
                +form-control({class:'col-md-3',name:'ngchange',label:'ng change',ngChange:"$parent.ngchange2=ngchange"})
                +form-control({class:'col-md-3',name:'ngchange2',label:'ng change 2'})
                +form-control({name:'isUnique',label:'isUnique',isUnique: 'isUnique.json'})
        form-tabs
          form-tab(tab-title="Block Controls")
            .row
              .col-md-12
                +form-control({name:'popover',label:'popover',popover: 'Παρακαλώ συμπληρώστε το πεδίο'})
                +form-control({name:'popover2',label:'popover2',popover: 'Παρακαλώ συμπληρώστε το πεδίο'})
              .col-md-12
                +form-control({name:'select2Input',label:'select2Input',type:'select2-input'})
                +form-control({name:'select2',label:'select2',type:'select2',select2Data:['male', 'female'],allowClear:'true'})

              .col-md-12
                +form-control({name:'dateInput',label:'dateInput',type:'dateInput'})
        form-tabs
          form-tab(tab-title="Inline Controls")
            .row
              .col-md-12
                +form-control({name:'checkbox',label:'checkbox',type:'checkbox'})
              .col-md-12
                +form-control({name:'radio',label:'radio',type:'radio', radioValues: ['radio1', 'radio2', 'radio3']})
              .col-md-12
                +form-control({name:'radio2',label:'radio2',type:'radio', radioValues: ['radio1', 'radio2', 'radio3'], radioClass: 'radio'})


    include partials/footer