include mixins/form-control
html(ng-app="PolyForm")
  head
    include partials/header
  body
    .container
      form(name="form", ng-cloak="true")
        form-tabs
          form-tab
            +form-control({name:'fname',label:'Όνομα',popover: 'Παρακαλώ συμπληρώστε το πεδίο'})
            +form-control({name:'lname',label:'Επίθετο',isUnique: 'isUnique.json'})
          form-tab
            +form-control({name:'fname',label:'Όνομα',popover: 'Παρακαλώ συμπληρώστε το πεδίο'})
            +form-control({name:'lname',label:'Επίθετο',isUnique: 'isUnique.json'})

    include partials/footer