include mixins/form-control
html(ng-app="PolyForm")
  head
    include partials/header
  body
    .container
      form(name="myform", ng-cloak="true")
        form-tabs
          form-tab(tab-title="Validation")
            .row
              .col-md-12
                +form-control({name:'email',label:'Email',type:'email'})
                +form-control({name:'isUnique',label:'isUnique',isUnique: 'isUnique.json'})
              .col-md-12
                +form-control({name:'required',label:'Required false',ngRequired:'false'})
                +form-control({name:'minLength',label:'Min Length',ngMinlength:3})
              .col-md-12
                +form-control({name:'maxlength',label:'Max length',ngMaxlength:3})
                +form-control({name:'mypattern',label:'Pattern',type:'password',ngPattern:'/((?=.*[a-z])(?=.*[A-Z]).{8,64})/',ngPatternMessage:'Ensure that password is 8 to 64 characters long and contains a mix of upper and lower case characters, one numeric and one special character'})
              .col-md-12
                +form-control({class:'col-md-3',name:'ngchange',label:'ng change',ngChange:"$parent.ngchange2=ngchange"})
                +form-control({class:'col-md-3',name:'ngchange2',label:'ng change 2'})


    include partials/footer