include ../../../../_src/templates/mixins/poly-form/form-control
- formName = 'myform5'
form(name=formName, ng-cloak="true")
  form-tabs(ng-init=(formName+".showNextTab=true;"))
    form-tab(tab-title="FormTab Test")
      .row
        .col-md-12
          //+form-control({name:'minLength',label:'Min Length',ngMinlength:3, useLabel: 'false'})
          +form-control({name: 'maxlength', label: 'Max length', ngMaxlength: 3, useLabel: 'false'})
      +form-control({
        name: 'showNextTabCheckbox',
        model: formName+'.showNextTab',
        label: 'show next tab when checked',
        type: 'checkbox',
        class: 'col-md-12'
      })
      .col-md-12
        button.btn.btn-primary(type="submit", ng-hide=(formName+".showNextTab"), ng-disabled=(formName+".$invalid")) Send
    form-tab(tab-title="Form Tab 2", ng-show=(formName+".showNextTab"))
      .col-md-12
        +form-control({name: 'maxlength', label: 'Max length', ngMaxlength: 3, useLabel: 'false'})
      .col-md-12
        button.btn.btn-primary(type="submit", ng-disabled=(formName+".$invalid")) Send
